
<mat-drawer-container class="example-container" full>
    <mat-drawer #drawer class="example-sidenav" mode="over" mat-elevation-z10>
        <mat-toolbar color="primary" class="menu-title">
            
            <button mat-button>
                <mat-icon>menu</mat-icon>
                
              </button>
              
            
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]=[link.url] *ngFor="let link of links"> {{ link.name}} </a>
         </mat-nav-list>
         
    </mat-drawer>
    <app-toolbar (sideNavToggle)="drawer.toggle()"></app-toolbar>
    <div class="example-sidenav-content">

        <router-outlet></router-outlet>

    </div>
  
  </mat-drawer-container>
  
  
  