
<mat-drawer-container class="example-container" full>
    <mat-drawer #drawer class="example-sidenav" mode="over" mat-elevation-z10>
        <mat-toolbar color="primary" class="menu-title">
            
            <button mat-button>
                <mat-icon>menu</mat-icon>
                
              </button>
              
            
        </mat-toolbar>

        <mat-list>
            <mat-list-item>
                item 1
            </mat-list-item>

            <mat-list-item>
                item 2
            </mat-list-item>

            <mat-list-item>
                item 3
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <app-toolbar (sideNavToggle)="drawer.toggle()"></app-toolbar>
    <div class="example-sidenav-content">

        <router-outlet></router-outlet>

    </div>
  
  </mat-drawer-container>
  
  
  