.container{
    width: 80%;
    margin: 10px auto;
    flex-direction: row;
    
}
table {
    width: 100%;
  }

  .add-invoice-btn{
    position: absolute;
    right: 100px;
    background-color: deeppink;
    color: white;
  }


  .container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
